<% if (message.success.length > 0) { %>
  <div class="alert alert-success">
    <%= message.success %>
  </div>
<% } %>

<% if (message.danger.length > 0) { %>
  <div class="alert alert-danger">
    <%= message.danger %>
  </div>
<% } %>
