<nav>
  <h1>
    <a href="/">ExpressTsSample</a>
  </h1>
  <% if (currentUser) { %>
    <a href="/users">ユーザー一覧</a>
    <a href="/account/edit">アカウント設定</a>
    <a href="/organizations/new">組織作成</a>
    <% if (currentUser) { %>
      <a href="/dashboard">ダッシュボード</a>
    <% } %>
  <% } %>
</nav>