<h1>組織情報編集</h1>

<%- include('./_form.ejs', { url: `/organizations/${organization.id}/edit`, organization: organization, error: validationError, scrfToken: csrfToken, method: 'PATCH' }) %>

<a href="/organizations/<%= organization.id %>">詳細へ戻る</a>