<h2>加入組織一覧</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>組織名</th>
    <th colspan="2">操作</th>
  </tr>
  </thead>
  <tbody>
  <% organizations.forEach(function (organization, _key) { %>
    <tr>
      <td><a href="/organizations/<%= organization.id %>"><%= organization.name %></a></td>
      <td><a href="/organizations/<%= organization.id %>/edit">編集</a></td>
      <td>
        <form method="delete" action="/organizations/<%= organization.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="btn btn-primary" value="削除" />
        </form>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>
