<h1>ホーム</h1>

<div>
  <% if (currentUser) { %>
    ログインユーザー: <%= currentUser.lastName %>
  <% } %>
</div>

<% if (currentUser) { %>
  <a href="/logout">ログアウト</a>
<% } else { %>
  <a href="/login">ログイン</a>
<% } %>
