<!DOCTYPE html>
<html lang="ja">
<head>
  <title>express_ts_sample</title>
  <link rel='stylesheet' type="text/css" href='bootstrap.css' />
</head>
<body>
<%- include('./header.ejs') %>
<%- include('./shared/flash.ejs', { message: flashMessage } ) %>

<%- body %>

<%- include('./footer.ejs') %>
</body>
</html>